<app-header></app-header>/

<div class="wrapper">
  <div class="profile">
  <div class="profile-left"><img class="prof_p" src="../../assets/blank-profile.png"></div>
  <div class="profile-right">
      <form>
        <div class="edit_box">
          <div class="editfield">
            <span>First Name</span>
            <input placeholder="FirstName" type="text" >
          </div>
          <div class="editfield">
              <span>First Name</span>
              <input placeholder="FirstName" type="text" >
            </div>
            <div class="editfield">
                <span>First Name</span>
                <input placeholder="FirstName" type="text" >
              </div>
              <div class="editfield">
                  <span>First Name</span>
                  <input placeholder="FirstName" type="text" >
                </div>
                <div class="editfield">
                    <span>First Name</span>
                    <input placeholder="FirstName" type="text" >
                  </div>
                  <div class="editfield">
                      <span>First Name</span>
                      <input placeholder="FirstName" type="text" >
                    </div>
                    <div class="editfield">
                        <span>First Name</span>
                        <input placeholder="FirstName" type="text" >
                      </div>
                      <div class="editfield">
                          <span>First Name</span>
                          <input placeholder="FirstName" type="text" >
                        </div>
        </div>
        <div class="text-center">
        <button class="btn update_button">Update</button>
        <button class="btn canel_button">Cancel</button>
      </div>
          </form>
  </div>
</div>
</div>



<app-footer></app-footer>